body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12pt;
}

#map {
  height: calc(100vh);
}

#layers-panel {
  position: absolute;
  top: 12px;
  right: 8px;
  border: 1px solid grey;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  width: 150px;
  height: auto;
}

#styles-panel {
  position: absolute;
  top: 150px;
  right: 8px;
  border: 1px solid grey;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  width: 150px;
  height: auto;
}

#layers-title, #styles-title {
  padding: 5px;
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.layer-row, .style-row {
  height: 20px;
  cursor: pointer;
  padding-left: 5px;
}

.layer-row:hover, .style-row:hover {
  background: lightgrey;
}

.layer-row.active, .style-row.active {
  background: grey;
}

#layers, #styles {
  overflow: auto;
  height: auto;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
}

h3 {
  margin: 0;
}

.ol-control button {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: black !important;
}

.ol-scale-line {
  background-color: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(5px);
  color: black !important;
  border-radius: 0 !important;
}

.ol-scale-line-inner {
  border: 2px solid black !important;
  border-top: 0 !important;
  color: black !important;
}

.custom-mouse-position {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(5px);
  color: black !important;
  border-radius: 4px !important;
  font-size: 10px;
  text-align: center;
}

.ol-zoom-extent {
  position: absolute;
  left: 0.5em;
  top: 63px;
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(5px);
  border: 0 !important;
  background-image: url("../images/home-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}

.caret-up {
  height: 20px;
  width: 20px;
  background-image: url("../images/caret-up.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caret-down {
  height: 20px;
  width: 20px;
  background-image: url("../images/caret-down.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.corner-ribbon {
  position: fixed;
  top: auto;
  bottom: 50px;
  right: -80px;
  z-index: 40;
  width: 300px;
  background-color: rgba(255, 0, 0, 0.8) !important;
  backdrop-filter: blur(5px);
  color: #fff;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
